body.overflow-hidden {
    /* disable scrolling only when overlay is open */
    overflow: hidden;
  }

  #regular-button {

    font-weight: 600;
    padding-inline: var(--space-16);
    height: var(--input-height);
  }
  .content-container {
    padding-block: var(--space-32);
  }
  
  /* header */
  .header .title {
    font-weight: 600;
    font-size: var(--font-size-24);
  }
  
  .header .buttons-container {
    display: flex;
    gap: var(--space-16);
  }
  
  .header .sign-out-cta {
    font-weight: 600;
  }
  
 
  .task-item .task-name {
    font-weight: 600;
    font-size: var(--font-size-14);
  }  
  .task-item .task-due-date {
    font-size: var(--font-size-14);
    color: var(--dark-gray);
    margin-top: var(--space-4);
  }
  

  .task-item .arrow-icon {
    transform: rotate(180deg);
  }
  
 
  
  /* board view */
  .board-view {
    margin-top: var(--space-32);
    /* enable horizontal scroll when needed */
    overflow-x: auto;
    padding: 0 var(--space-8) var(--space-8);
    display: grid;
    grid-template-columns: repeat(3, minmax(266px, 1fr));
    column-gap: var(--space-24);
    /* hide scrollbars in Firefox */
    scrollbar-width: none;
  }
  
  .board-view.hide {
    display: none;
  }
  .board-view::-webkit-scrollbar {
    display: none;
  }
  
  .board-view .task-item {
    margin-top: var(--space-16);
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: var(--radius-8);
  }
  
  .board-view  .task-item {
    box-shadow: var(--pink-shadow);
  }
  
  .board-view  .task-item {
    box-shadow: var(--blue-shadow);
  }
  
  .board-view  .task-item {
    box-shadow: var(--green-shadow);
  }
  
  .board-view .task-item .task-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-24) var(--space-16);
  }
  
  /* overlay */
  .overlay {
    width: 100%;
    height: 100%;
    background-color: var(--beige);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    padding: var(--space-48) var(--space-32) var(--space-32);
    display: grid;
    place-items: center;
    /* if content is longer than screen height, enable scrollbar */
    overflow-y: auto;
  }
  
  
  .overlay-content {
    border: 2px solid var(--black);
    border-radius: var(--radius-8);
    padding: var(--space-32);
    max-width: 654px;
    /* to position close button */
    position: relative;
  }
  
  .overlay-content .close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -25px;
    margin-right: -16px;
  }
  
  .set-task-overlay .header {
    font-weight: 600;
    font-size: var(--font-size-24);
  }
  
  .view-task-overlay .header {
    font-weight: 600;
    font-size: var(--font-size-16);
    margin-top: var(--space-16);
  }
  
  .view-task-overlay .header.no-margin {
    margin-top: 0;
  }
  
  .view-task-overlay .header.min-width {
    min-width: 90px;
  }
  
  .view-task-overlay .value {
    margin-top: var(--space-16);
    line-height: 26px;
  }
  
  .view-task-overlay .status-value {
    display: flex;
    align-items: center;
    gap: var(--space-8);
    background-color: var(--beige);
    border: 2px solid var(--black);
    border-radius: var(--radius-8);
    padding: var(--space-8) var(--space-16);
    height: var(--input-height);
  }
  
  .view-task-overlay .control-buttons-container {
    display: flex;
    gap: var(--space-16);
    margin-top: var(--space-32);
  }
  
  .notification {
    /* relative to body */
    position: fixed; /* fixed even on scroll */
    /* hide */
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: var(--space-8);
    padding: var(--space-32);
    height: 80px;
    font-weight: 600;
    font-size: var(--font-size-14);
    width: 100%;
    max-width: 375px;
    transition-property: top;
    transition-duration: 0.5s;
  }
  
  .notification.show {
    top: 0;
  }
  /*** reset ***/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* elements inside forms */
form * {
  border: none;
  outline: none;
  font: inherit;
  background-color: transparent;
}

button {
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

/* custom properties */
:root {
  /* font */
  --font-family: "Inter", sans-serif;
  --font-size-24: 24px;
  --font-size-16: 16px;
  --font-size-14: 14px;

  /* color */
  --black: #000;
  --dark-gray: #504e4e;
  --blue: #82cfff;
  --pink: #ff9c9c;
  --green: #abe5bc;
  --beige: #fffaf0;
  --white: #fff;

  /* shadow */
  --green-shadow: 6px 6px 0px var(--green);
  --blue-shadow: 6px 6px 0px var(--blue);
  --pink-shadow: 6px 6px 0px var(--pink);
  --black-shadow: 4px 4px 0px var(--black);

  /* space */
  --space-4: 4px;
  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-48: 48px;

  /* radius */
  --radius-8: 8px;

  /* form elements */
  --input-height: 45px;
}

/* general */
html,
body {
  height: 100%;
}

body {
  background-color: var(--beige);
  font-family: var(--font-family);
}

.max-width-container {
  /* include padding values */
  max-width: 1232px;
  margin-inline: auto;
  padding-inline: var(--space-16);
}

/* utility classes */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.height-full {
  height: 100%;
}

.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.white-background {
  background-color: var(--white);
}

#blue-background {
  background-color: var(--blue);
}

.pink-background {
  background-color: var(--pink);
}

.green-background {
  background-color: var(--green);
}

/* shared style */
.button {
  border: 2px solid var(--black);
  box-shadow: var(--black-shadow);
  border-radius: var(--radius-8);
}


.circle-button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: var(--space-8);
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

.form {
  margin-top: var(--space-32);
}

.label {
  font-weight: 600;
  font-size: var(--font-size-16);
  /* to apply margins for inline labels */
  display: inline-block;
  margin-top: var(--space-16);
}

.label:first-child {
  margin-top: 0;
}

.secondary-label {
  display: block;
  font-weight: 500;
  font-size: var(--font-size-14);
  margin-top: var(--space-16);
}

.input,
.textarea-input,
.status-select {
  border: 2px solid var(--black);
  border-radius: var(--radius-8);
  width: 100%;
  padding: var(--space-16);
  margin-top: var(--space-16);
}

.input,
.status-select {
  height: var(--input-height);
}

.textarea-input {
  resize: none;
}

.status-select .arrow-icon {
  transform: rotate(270deg);
  /* move to top to fix alignment */
  margin-bottom: var(--space-8);
}

.status-dropdown {
  border: 2px solid var(--black);
  border-radius: var(--radius-8);
  margin-top: var(--space-4);
  padding: var(--space-16);
  /* add space between items */
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.status-dropdown.hide {
  display: none;
}


.form .cta-button {
  margin-top: var(--space-32);
}

/* media queries */
@media (min-width: 768px) {
  .divided-inputs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--space-16);
  }
}


  